services:
  zombies:
    container_name: zombies-dev
    build: .
    restart: unless-stopped
    ports:
      - "8080:8080"

    volumes:
      - .:/app

    environment:
      - FLASK_DEBUG=true
    
    command: >
      sh -c "flask run --host=0.0.0.0 --port=8080"
