<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="icon" type="image/png" href="/static/images/head/1.png" />
        <title>Zombie Generator</title>
    </head>

    <body>
        <div id="navbar" class="navbar">
            <img class="splashscreen" src="/static/images/header/SplashScreen.png">
        </div>
    <div class="container_links">
        <div class="links">
            <a href="/zombie">Zombie </a>|
            <a href="/zombietourne">Zombie Tourne </a>|
            <a href="/zombiesall">Zombies All </a>|
            <a href="/zombies/42">Zombies 42 (par exemple)</a>
        </div>
    </div>
        {% block content %}

        {% endblock %}
    </body>
</html>