{% extends "/socle/base.jinja" %}

{% block content%}

<div class="text">
    <h1>Voici un beau zombie confectionné rien que pour vous</h1>
</div>
<div class="containerZombie">
    <div class="zombie {% if rotate %} zombierotate {% endif %}">
        <div class="generateurZombie">
            <div class="Head">
                <img class="imgZombie" src={{random_head_file}}>
            </div>
            <div class="LeftArm">
                <img class="imgZombie" src={{random_Larm_file}}>
            </div>
            <div class="Body">
                <img class="imgZombie" src={{random_body_file}}>
            </div>
            <div class="RightArm">
                <img class="imgZombie" src={{random_Rarm_file}}>
            </div>
            <div class="LeftLeg">
                <img class="imgZombie" src={{random_Lleg_file}}>
            </div>
            <div class="RightLeg">
                <img class="imgZombie" src={{random_Rleg_file}}>
            </div>
        </div>
    </div>
</div>

{% endblock %}
